fastapi==0.111.0
uvicorn[standard]==0.29.0
python-json-logger==2.0.7
argon2-cffi==23.1.0
sqlalchemy[asyncio]==2.0.30
asyncpg==0.29.0
pydantic[email]==2.7.1
PyJWT==2.9.0
pyotp==2.9.0
cryptography==42.0.8
alembic==1.13.1
python-multipart==0.0.9
numpy==2.1.3
